<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<property name="USER_HOME" value="${BDH_LOG}" />
    <timestamp key="DATE_EXE" datePattern="ddMMyyyyHHmm"/>
    
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
			</Pattern>
		</layout>
	</appender>
	

	<appender name="FILE-ENGINE-SUMMARY" class="ch.qos.logback.core.FileAppender">
		<file>${USER_HOME}/bdh-cash-in-summary-${DATE_EXE}.log</file>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>
	
	<appender name="FILE-ENGINE" class="ch.qos.logback.core.FileAppender">
		<file>${USER_HOME}/bdh-cash-in-${DATE_EXE}.log</file>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{35} - %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="com.atos.talentsbatch" level="debug" additivity="false">
		<appender-ref ref="FILE-ENGINE" />
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="com.atos.talentsbatch.listeners.summary" level="debug" additivity="false">
		<appender-ref ref="FILE-ENGINE-SUMMARY" />
		<appender-ref ref="STDOUT" />
	</logger>

</configuration>